#navbar{
    position: fixed;
    width: 100vw;
}

.collapse{
    display: flex;
    justify-content: right;
    align-items: center;
}
@media screen and (max-width: 991px) {
    .collapse{
        display: flex;
        justify-content: left;
        align-items: left;
    }
}

.imagem-inicial{
    width: 100vw;
}

.imagem-inicial img{
    width: 100%;
}

.container{
    padding-top: 10vh;
}

.col-sm-3 p{
    font-size: 1.5em;
    padding-top: 0;
}

.col-sm-2{
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
}

.col-sm-2 img{
    width: 100%;
}

.mapa{
    width: 100vw;
}

.mapa img{
    width: 100%;
}
@media screen and (max-width: 991px) {
    .mapa{
        height: 100%;
    }
    .mapa img{
        height: 100%
    }
}